{% extends template('page-layout-main') %}

{% define data = {
    planet: _view.planet
} %}

{% block content %}
    <form method="get">
        Distance (mln km): <input type="text" name="dist"><br>
        Temperature (Celsius): <input type="text" name="temp"><br>
        Type: <input type="text" name="type">(Gas giant / Rock planet)<br>
        <input type="submit">
    </form>

    <br><br><br><br>

    {% for planet in data.planet %}
    <div>
        <div>Name: {{ planet.name }}</div>
        <div>Interesting fact: {{ planet.interesting_fact | default('null') }}</div>
        <div>Orbit time: {{ planet.orbit_time | default('null') }}</div>
        <div>Average distance (mln km): {{ planet.average_distance | default('null') }}</div>
        <div>Planet type: {{ planet.type | default('null') }}</div>
        <div>Average temperature (Celsius): {{ planet.average_temperature | default('null') }}</div>
    </div>
        <br><br>
    {% endfor %}
{% endblock %}
